<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script>
            const ROOM_ID = "<%= roomId %>";
        </script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="script.js" defer></script>
        <title>Video Call</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                width: 100vw;
                height: 100vh;
                font-family: "Poppins", sans-serif;
            }

            #video-grid {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: 100vh;
            }

            .material-icons {
                cursor: pointer;
                color: #fff;
                padding: 10px;
                /* background-color: #e74c3c; */
                background-color: #34485e;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg); /* Safari and Chrome */
                -moz-transform: rotateY(180deg); /* Firefox */
                -o-transform: rotate(180deg); /* Opera */
            }

            @media (max-width: 480px) {
                #video-grid {
                    display: flex;
                    flex-direction: column;
                }

                video {
                    width: 100%;
                    height: 50vh;
                }
            }
        </style>
    </head>
    <body>
        <div id="video-grid"></div>
        <footer>
            <!-- <span id="mic" class="material-icons"> mic_off </span> -->
            <!-- <span class="material-icons"> mic </span> -->
            <!-- <span id="video" class="material-icons"> videocam_off </span> -->
            <!-- <span class="material-icons"> videocam </span> -->
        </footer>
    </body>
</html>
