nav,
main,
footer {
    padding-left: 120px;
    padding-right: 120px;
}

section {
    position: relative;
    width: 50vw;
    height: 100%;
}

#text {
    position: absolute;
    top: 80px;
    left: 0;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

h1 + p {
    margin-top: 12px;
    line-height: 1.6;
}

#new-meet-controls {
    max-width: fit-content;
    margin-top: 56px;
    margin-bottom: 24px;
    padding-bottom: 28px;
    border-bottom: 2px solid var(--secondary);
    display: flex;
    align-items: center;
}

#new-meet {
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    width: 148px;
    padding: 0 20px;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
}

#new-meet span {
    margin-right: 8px;
}

input {
    border-color: var(--blue);
}

#error {
    font-size: 14px;
    color: var(--danger);
    display: none;
}

#join {
    cursor: not-allowed;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary);
    width: 408px;
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid var(--secondary);
}

/* right section */
#right-section {
    display: grid;
    place-items: center;
    padding-right: 40px;
}

#right-section img {
    position: relative;
    width: 560px;
    bottom: 20px;
}

#right-section a {
    position: absolute;
    right: 110px;
    bottom: 220px;
    display: block;
    transform: rotateZ(90deg);
    font-size: 11px;
    color: var(--secondary);
}

@media (max-width: 992px) {
    nav,
    main,
    footer {
        width: 100vw;
        padding: 20px;
    }

    #logo {
        font-size: 18px;
    }

    #logo button {
        width: 34px;
        height: 34px;
        margin-right: 8px;
        padding: 1px 0 0 2px;
        font-size: 18px !important;
        display: grid !important;
    }

    main {
        padding: 0;
        flex-direction: column;
    }

    section {
        width: 100%;
        display: grid;
        place-items: center;
    }

    h1 {
        font-size: 21px;
        text-align: center;
    }

    h1 + p {
        font-size: 12px;
        text-align: center;
    }

    input,
    #text button {
        margin-left: 0;
        width: 90vw !important;
        height: 40px !important;
        font-size: 14px !important;
        padding: 0 12px !important;
    }

    #text {
        top: 22%;
        left: unset;
    }

    #new-meet-controls {
        margin-top: 48px;
        margin-bottom: 28px;
        flex-direction: column;
    }

    #new-meet {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 28px;
    }

    #right-section {
        display: none;
    }

    #right-section img {
        width: 80vw;
    }

    footer {
        justify-content: center;
        flex-direction: column;
    }

    footer small:nth-child(1) {
        margin-bottom: 12px;
    }
}
